@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move-bg {
  0% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 100px 100px, 100px 100px;
  }
}

@layer base {
  :root {
    --background: 212 28% 9%;
    --foreground: 210 20% 98%;
    --card: 212 28% 13%;
    --card-foreground: 210 20% 98%;
    --popover: 212 28% 9%;
    --popover-foreground: 210 20% 98%;
    --primary: 212 92% 59%;
    --primary-foreground: 210 20% 98%;
    --secondary: 212 12% 23%;
    --secondary-foreground: 210 20% 98%;
    --muted: 212 12% 23%;
    --muted-foreground: 210 20% 80%;
    --accent: 212 12% 23%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 212 12% 23%;
    --input: 212 12% 23%;
    --ring: 212 92% 59%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  section {
    @apply scroll-mt-20;
  }
}
