@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    background-image:
      radial-gradient(hsl(var(--muted)) 1px, transparent 1px),
      radial-gradient(hsl(var(--muted)) 1px, transparent 1px);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
    background-repeat: repeat;
    animation: move-bg 20s linear infinite;
  }

  @keyframes move-bg {
    0% {
      background-position: 0 0, 20px 20px;
    }
    100% {
      background-position: 80px 80px, 100px 100px;
    }
  }

  section {
    @apply scroll-mt-20;
  }
}